# specifics
backend/database/chats.db
# ignore all directories inside backend/indices, but keep the files
backend/indices/**/


# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules/

backend/python_venv/
**/__pycache__/**

dist
dist-ssr
*.local

# environment variables (but not those in the root folder)
backend/.env
frontend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# configs
.eslintrc.json
.prettierrc
eslint.config.js
